        .lpCells
        {
            width: 100px;
            margin-right: 10px;
            text-align: center;
            text-decoration: bold;
            color: #666633;
            background-color: #cccc99; 
            -moz-box-shadow: 3px 4px 5px #999966;
            -webkit-box-shadow: 3px 4px 5px #999966;       
        }
        
        .contentCells
        {
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            text-align: center;
            text-decoration: none;
            color: #333300;
            background-color: #cccc66; 
            padding-top:20px;
            padding-bottom:20px;
            padding-right:40px;
            padding-left:40px;
            -moz-box-shadow: 0px 0px 5px #999933;
            -webkit-box-shadow: 0px 0px 5px #999933; 
        }
        
        .buttonCells
        {
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            background-color: #cccc33; 
            padding-top:20px;
            padding-bottom:20px;
            padding-right:8px;
            padding-left:8px;
            -moz-box-shadow: 0px 0px 5px #999933;
            -webkit-box-shadow: 0px 0px 5px #999933; 
        }
        
        .border {
            border-width: .2em;
            border-style: dotted;
            border-color: #900;
        } 